In [12]:
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt

In [13]:
data=pd.read_csv("G:\personal\EXERCISE\Data_Preprocessing\data.csv")
data

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [14]:
X=data.drop(columns='Purchased')
y=data['Purchased']

# X=data.iloc[ : , : -1].values
# y=data.iloc[ : ,3].values

In [15]:
X.fillna(X.mean(), inplace=True)

# from sklearn.impute import SimpleImputer
# imputer = SimpleImputer(missing_values=np.nan,strategy='mean')
# imputer.fit(X[:, 1:3])
# X[:, 1:3] = imputer.transform(X[:, 1:3])

In [16]:
dummies_country=pd.get_dummies(data['Country'])

In [17]:
dummies_purchaged=pd.get_dummies(y)

In [18]:
age_salary=X[['Age','Salary']]

df=pd.concat([dummies_country,age_salary],axis=1)

In [19]:
X=df
X

   France  Germany  Spain        Age        Salary
0       1        0      0  44.000000  72000.000000
1       0        0      1  27.000000  48000.000000
2       0        1      0  30.000000  54000.000000
3       0        0      1  38.000000  61000.000000
4       0        1      0  40.000000  63777.777778
5       1        0      0  35.000000  58000.000000
6       0        0      1  38.777778  52000.000000
7       1        0      0  48.000000  79000.000000
8       0        1      0  50.000000  83000.000000
9       1        0      0  37.000000  67000.000000

In [22]:
from sklearn.model_selection import train_test_split

from sklearn.tree import DecisionTreeClassifier

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

dt=DecisionTreeClassifier()

dt.fit(X_train ,y_train )

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [21]:
import sklearn as sk
sk.__version__

'0.21.2'