In [53]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [54]:
dataset=pd.read_excel('G:\personal\ML Exercise\OUP_long_MF1564_v1.xls')

In [55]:
dataset

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,NaN,"Educational Attainment for Total Population, 1...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Barro R. & J.W. Lee,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"v. 1.0, 07/15",NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Country,Year,Age Group,NaN,No Schooling,Highest level attained,NaN,NaN,NaN,NaN,NaN,Avg. Years of Total Schooling,Avg. Years of Primary Schooling,Avg. Years of Secondary Schooling,Avg. Years of Tertiary\n Schooling,Population\n(1000s),Region
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,Primary,NaN,Secondary,NaN,Tertiary,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,Total,Completed,Total,Completed,Total,Completed,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,(% of population aged 15-64),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Australia,1870,15,64.0,50.5,49.3,8.8,0.1,0,0.1,0,1.77,1.76,0.01,0,932,Advanced Economies
14,NaN,1875,15,64.0,46,53.8,9.6,0.1,0,0.1,0,1.93,1.92,0.01,0,1074,Advanced Economies
15,NaN,1880,15,64.0,41.5,58,9.7,0.3,0.1,0.2,0.1,2.08,2.06,0.02,0,1314,Advanced Economies
16,NaN,1885,15,64.0,36.1,61.7,11.3,2,0.4,0.2,0.1,2.41,2.32,0.08,0.01,1569,Advanced Economies
17,NaN,1890,15,64.0,29.7,66.6,13.3,3.5,0.7,0.3,0.1,2.76,2.62,0.13,0.01,1895,Advanced Economies
18,NaN,1895,15,64.0,24.8,71.2,15.4,3.7,0.8,0.3,0.1,3,2.84,0.15,0.01,2104,Advanced Economies
19,NaN,1900,15,64.0,24.9,69.6,16.4,5,1.2,0.4,0.2,3.11,2.91,0.2,0.01,2434,Advanced Economies
20,NaN,1905,15,64.0,22.2,70.3,18.2,6.9,1.8,0.6,0.2,3.39,3.1,0.27,0.02,2516,Advanced Economies
21,NaN,1910,15,64.0,17.7,71,20.3,9.6,2.7,1.7,0.5,3.89,3.42,0.43,0.04,2835,Advanced Economies
22,NaN,1915,15,64.0,14.3,71,22,12.1,3.6,2.7,1,4.31,3.67,0.57,0.07,3172,Advanced Economies
23,NaN,1920,15,64.0,11.3,70.6,23.7,14.4,4.5,3.7,1.5,4.72,3.92,0.71,0.1,3456,Advanced Economies
24,NaN,1925,15,64.0,9.3,62.5,22.4,23.4,7.7,4.9,2,5.48,4.24,1.1,0.14,3866,Advanced Economies
25,NaN,1930,15,64.0,7.1,58.6,23,28.5,9.9,5.9,2.5,6.03,4.51,1.35,0.17,4380,Advanced Economies
26,NaN,1935,15,64.0,5.1,54.5,23.5,33.5,12.3,7,3.1,6.57,4.77,1.6,0.2,4380,Advanced Economies
27,NaN,1940,15,64.0,3.7,50.8,23.9,37.3,14.5,8.1,3.8,7.03,4.97,1.82,0.24,4670,Advanced Economies
28,NaN,1945,15,64.0,2.3,46.9,23.7,41.5,17.1,9.2,4.5,7.48,5.16,2.05,0.27,5022,Advanced Economies
29,NaN,1950,15,64.0,1.2,42.5,27.1,45.1,23.8,11.2,6.4,8.21,5.47,2.39,0.35,5372,Advanced Economies
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2916,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2917,Zimbabwe,1870,15,64.0,99.3,0.7,0.2,0,0,0,0,0.03,0.02,0,0,671,Sub-Saharan Africa
2918,NaN,1875,15,64.0,99.1,0.9,0.2,0,0,0,0,0.03,0.03,0,0,705,Sub-Saharan Africa
2919,NaN,1880,15,64.0,98.9,1.1,0.3,0,0,0,0,0.04,0.04,0,0,739,Sub-Saharan Africa
2920,NaN,1885,15,64.0,98.6,1.4,0.4,0,0,0,0,0.05,0.05,0,0,777,Sub-Saharan Africa
2921,NaN,1890,15,64.0,98.2,1.8,0.5,0,0,0,0,0.06,0.06,0,0,815,Sub-Saharan Africa
2922,NaN,1895,15,64.0,97.8,2.2,0.6,0,0,0,0,0.08,0.07,0,0,857,Sub-Saharan Africa
2923,NaN,1900,15,64.0,97.3,2.7,0.8,0,0,0,0,0.09,0.09,0,0,900,Sub-Saharan Africa
2924,NaN,1905,15,64.0,96.6,3.4,1,0,0,0,0,0.11,0.11,0,0,947,Sub-Saharan Africa
2925,NaN,1910,15,64.0,95.8,4.2,1.3,0,0,0,0,0.14,0.14,0,0,995,Sub-Saharan Africa
2926,NaN,1915,15,64.0,94.8,5.2,1.6,0,0,0,0,0.18,0.17,0,0,1048,Sub-Saharan Africa
2927,NaN,1920,15,64.0,92.9,7,2.2,0,0,0,0,0.24,0.23,0,0,1101,Sub-Saharan Africa
2928,NaN,1925,15,64.0,89.1,10.8,3.6,0.1,0,0,0,0.37,0.36,0,0,1161,Sub-Saharan Africa
2929,NaN,1930,15,64.0,83.3,16.6,5.7,0.1,0,0,0,0.57,0.56,0,0,1220,Sub-Saharan Africa
2930,NaN,1935,15,64.0,74.1,25.1,8.7,0.6,0.2,0.2,0.1,0.93,0.89,0.04,0.01,1288,Sub-Saharan Africa
2931,NaN,1940,15,64.0,67.8,30.8,10.9,1,0.4,0.4,0.2,1.2,1.11,0.07,0.01,1354,Sub-Saharan Africa
2932,NaN,1945,15,64.0,64.9,33,9.9,1.5,0.6,0.6,0.3,1.3,1.18,0.11,0.02,1430,Sub-Saharan Africa
2933,NaN,1950,15,64.0,58.2,35.7,5.2,5.2,2.5,0.8,0.5,1.66,1.33,0.31,0.03,1506,Sub-Saharan Africa
2934,NaN,1955,15,64.0,50.9,42,7.5,5.9,2.9,1.2,0.6,1.99,1.59,0.36,0.04,1695,Sub-Saharan Africa
2935,NaN,1960,15,64.0,43.4,48.2,11.1,6.9,3,1.5,0.8,2.38,1.9,0.43,0.05,1928,Sub-Saharan Africa
2936,NaN,1965,15,64.0,37.1,53.5,13.4,7.6,3.3,1.9,1,2.68,2.14,0.48,0.06,2162,Sub-Saharan Africa
2937,NaN,1970,15,64.0,28.8,59.2,18.8,9.7,3.8,2.2,1.2,3.22,2.55,0.6,0.07,2529,Sub-Saharan Africa
2938,NaN,1975,15,64.0,25.3,60.4,20.8,11.6,4.4,2.7,1.4,3.54,2.74,0.71,0.08,2985,Sub-Saharan Africa
2939,NaN,1980,15,64.0,24.9,55.2,20.9,16.5,8.5,3.4,1.8,4.03,2.9,1.03,0.1,3492,Sub-Saharan Africa
2940,NaN,1985,15,64.0,20.5,50.5,20.2,25,12.9,4,2.3,4.84,3.22,1.5,0.13,4366,Sub-Saharan Africa
2941,NaN,1990,15,64.0,12.2,47.9,21.8,36.1,21.8,3.8,2.3,5.97,3.74,2.11,0.12,5399,Sub-Saharan Africa
2942,NaN,1995,15,64.0,8.8,41.8,21.5,46.8,18.9,2.6,1.5,6.85,4.46,2.31,0.08,6172,Sub-Saharan Africa
2943,NaN,2000,15,64.0,6.6,36.3,19.9,56,7.3,1,0.7,7.26,5.05,2.18,0.03,6813,Sub-Saharan Africa
2944,NaN,2005,15,64.0,5.4,36.3,22.3,57.4,6.7,0.9,0.6,7.65,5.5,2.13,0.03,7336,Sub-Saharan Africa
2945,NaN,2010,15,64.0,3.6,38.1,26.5,57.5,5.9,0.7,0.5,7.86,5.89,1.94,0.02,7814,Sub-Saharan Africa

In [56]:
dataset.shape

(2946, 17)

In [57]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2946 entries, 0 to 2945
Data columns (total 17 columns):
Unnamed: 0     90 non-null object
Unnamed: 1     2582 non-null object
Unnamed: 2     2583 non-null object
Unnamed: 3     2581 non-null float64
Unnamed: 4     2582 non-null object
Unnamed: 5     2585 non-null object
Unnamed: 6     2582 non-null object
Unnamed: 7     2583 non-null object
Unnamed: 8     2582 non-null object
Unnamed: 9     2583 non-null object
Unnamed: 10    2582 non-null object
Unnamed: 11    2582 non-null object
Unnamed: 12    2582 non-null object
Unnamed: 13    2582 non-null object
Unnamed: 14    2582 non-null object
Unnamed: 15    2584 non-null object
Unnamed: 16    2582 non-null object
dtypes: float64(1), object(16)
memory usage: 391.3+ KB

In [58]:
dataset.columns=dataset.columns.str.strip()

In [59]:
dataset.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16'],
      dtype='object')

In [60]:
dataset['Unnamed: 0'].value_counts(dropna=False)

NaN                   2856
Argentina                1
Tunisia                  1
Benin                    1
Ireland                  1
Costa Rica               1
Malta                    1
Taiwan                   1
Sierra Leone             1
Cameroon                 1
United Kingdom           1
Guatemala                1
Barbados                 1
Zimbabwe                 1
Brazil                   1
Luxembourg               1
Greece                   1
Dominican Rep.           1
Peru                     1
Russian Federation       1
Uruguay                  1
Bulgaria                 1
Algeria                  1
Malaysia                 1
Sudan                    1
New Zealand              1
China                    1
Thailand                 1
Uganda                   1
Mauritius                1
                      ...
Syria                    1
Norway                   1
Guyana                   1
Austria                  1
Nicaragua                1
South Africa             1
Cote dIvoire             1
Niger                    1
Morocco                  1
Honduras                 1
Canada                   1
Japan                    1
Hungary                  1
Turkey                   1
USA                      1
Sweden                   1
Colombia                 1
Switzerland              1
Netherlands              1
Bolivia                  1
Poland                   1
Philippines              1
Chile                    1
Finland                  1
Panama                   1
Mexico                   1
Spain                    1
India                    1
Sri Lanka                1
Portugal                 1
Name: Unnamed: 0, Length: 91, dtype: int64

In [67]:
dataset.dropna(subset=['Unnamed: 0'], inplace=True)

In [68]:
dataset

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
6,Country,Year,Age Group,NaN,No Schooling,Highest level attained,NaN,NaN,NaN,NaN,NaN,Avg. Years of Total Schooling,Avg. Years of Primary Schooling,Avg. Years of Secondary Schooling,Avg. Years of Tertiary\n Schooling,Population\n(1000s),Region
13,Australia,1870,15,64.0,50.5,49.3,8.8,0.1,0,0.1,0,1.77,1.76,0.01,0,932,Advanced Economies
46,Austria,1870,15,64.0,62.7,36.5,12.6,0.5,0.1,0.3,0.1,2.09,2.03,0.05,0.01,12414,Advanced Economies
79,Belgium,1870,15,64.0,44.2,52.9,18.1,2.5,0.4,0.4,0.1,2.43,2.3,0.11,0.01,3120,Advanced Economies
112,Canada,1870,15,64.0,29.2,68.2,14.9,2.6,0.3,0,0,2.74,2.65,0.09,0,2021,Advanced Economies
145,Denmark,1870,15,64.0,13.7,83.9,28.9,2.4,0.4,0,0,2.46,2.35,0.11,0,1085,Advanced Economies
178,Finland,1870,15,64.0,96.3,3.7,1.3,0.1,0,0.1,0,0.12,0.11,0.01,0,1099,Advanced Economies
211,France,1870,15,64.0,78.4,21.6,5.6,0.2,0,0.1,0,0.71,0.69,0.02,0,23656,Advanced Economies
244,Germany,1870,15,64.0,65.5,27.3,9.5,6.8,1.3,0.3,0.1,2.23,2.04,0.17,0.01,24858,Advanced Economies
277,Greece,1870,15,64.0,82.4,16,5.6,1.2,0.2,0.3,0.2,0.81,0.74,0.06,0.01,822,Advanced Economies
310,Ireland,1870,15,64.0,81.9,18,6.3,0,0,0,0,0.74,0.73,0,0,3169,Advanced Economies
343,Italy,1870,15,64.0,71.9,27.8,5.5,0.2,0,0.2,0.1,0.88,0.85,0.02,0.01,16732,Advanced Economies
376,Japan,1870,15,64.0,73.2,26.8,9.3,0,0,0,0,0.73,0.72,0,0,20909,Advanced Economies
409,Luxembourg,1870,15,64.0,99.2,0.8,0.3,0,0,0,0,0.04,0.04,0,0,119,Advanced Economies
442,Netherlands,1870,15,64.0,28,71.6,24.6,0.3,0.1,0.1,0.1,2.94,2.91,0.02,0,2192,Advanced Economies
475,New Zealand,1870,15,64.0,28.4,70.9,29.5,0.4,0.1,0.2,0.1,3.6,3.56,0.03,0.01,140,Advanced Economies
508,Norway,1870,15,64.0,36.6,60.5,53.6,2.5,0.4,0.5,0.1,4.31,4.2,0.09,0.01,1018,Advanced Economies
541,Portugal,1870,15,64.0,90.4,9.2,1.7,0.3,0.1,0.1,0.1,0.27,0.24,0.03,0,2658,Advanced Economies
574,Spain,1870,15,64.0,74.2,25.4,12.6,0.3,0.1,0.2,0.1,1.58,1.56,0.02,0,10178,Advanced Economies
607,Sweden,1870,15,64.0,21.5,72.1,24.8,6.3,2.5,0.1,0,3.61,3.29,0.31,0,2506,Advanced Economies
640,Switzerland,1870,15,64.0,25.7,72.7,25,1.5,0.3,0.1,0,4.1,4.03,0.06,0,1679,Advanced Economies
673,Turkey,1870,15,64.0,99.8,0.2,0.1,0,0,0,0,0.01,0.01,0,0,6421,Advanced Economies
706,USA,1870,15,64.0,25.6,60.1,30.1,13.5,2.8,0.9,0.4,4.13,3.57,0.54,0.02,22211,Advanced Economies
739,United Kingdom,1870,15,64.0,78,21.7,7.6,0.2,0,0.1,0,0.92,0.9,0.02,0,15390,Advanced Economies
772,Cambodia,1870,15,64.0,100,0,0,0,0,0,0,0.01,0,0,0,1343,Asia and the Pacific
805,China,1870,15,64.0,99.9,0.1,0,0,0,0,0,0.01,0,0,0,213960,Asia and the Pacific
838,Fiji,1870,15,64.0,99.1,0.9,0,0,0,0,0,0.04,0.04,0,0,88,Asia and the Pacific
871,"Hong Kong, China",1870,15,64.0,95.6,4.3,0.2,0.1,0,0,0,0.15,0.14,0.01,0,76,Asia and the Pacific
904,India,1870,15,64.0,99.6,0.1,0,0.3,0.1,0,0,0.03,0.02,0.01,0,145914,Asia and the Pacific
937,Indonesia,1870,15,64.0,99.9,0.1,0,0,0,0,0,0.01,0.01,0,0,19020,Asia and the Pacific
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1960,Paraguay,1870,15,64.0,97.8,2.2,0.6,0,0,0,0,0.09,0.08,0,0,300,Latin America and the Caribbean
1993,Peru,1870,15,64.0,98.4,1.6,0.6,0,0,0,0,0.06,0.06,0,0,1477,Latin America and the Caribbean
2026,Trinidad and Tobago,1870,15,64.0,89.3,10.7,4,0.1,0,0,0,0.53,0.52,0,0,78,Latin America and the Caribbean
2059,Uruguay,1870,15,64.0,90,9.7,2.9,0.2,0,0.1,0,0.41,0.39,0.01,0,194,Latin America and the Caribbean
2092,Venezuela,1870,15,64.0,99.5,0.5,0.1,0,0,0,0,0.02,0.01,0,0,963,Latin America and the Caribbean
2125,Algeria,1870,15,64.0,97.4,2.3,0.3,0.2,0,0,0,0.11,0.09,0.01,0,2160,Middle East and North Africa
2158,Egypt,1870,15,64.0,99.5,0.5,0.1,0,0,0,0,0.02,0.02,0,0,4060,Middle East and North Africa
2191,Iran,1870,15,64.0,100,0,0,0,0,0,0,0.01,0,0,0,4939,Middle East and North Africa
2224,Iraq,1870,15,64.0,100,0,0,0,0,0,0,0.01,0,0,0,863,Middle East and North Africa
2257,Malta,1870,15,64.0,81.2,18.8,2.8,0,0,0,0,0.65,0.65,0,0,91,Middle East and North Africa
2290,Morocco,1870,15,64.0,100,0,0,0,0,0,0,0.01,0,0,0,2974,Middle East and North Africa
2323,Syria,1870,15,64.0,99.8,0.1,0,0.1,0,0.1,0.1,0.04,0.02,0.02,0,918,Middle East and North Africa
2356,Tunisia,1870,15,64.0,100,0,0,0,0,0,0,0.01,0,0,0,699,Middle East and North Africa
2389,Benin,1870,15,64.0,100,0,0,0,0,0,0,0.01,0,0,0,530,Sub-Saharan Africa
2422,Cameroon,1870,15,64.0,99.8,0.2,0,0,0,0,0,0.01,0.01,0,0,1310,Sub-Saharan Africa
2455,Cote dIvoire,1870,15,64.0,97.4,2.6,0.7,0,0,0,0,0.1,0.1,0,0,120,Sub-Saharan Africa
2488,Ghana,1870,15,64.0,99.7,0.3,0.1,0,0,0,0,0.02,0.02,0,0,1249,Sub-Saharan Africa
2521,Kenya,1870,15,64.0,99.9,0.1,0,0,0,0,0,0.01,0.01,0,0,2174,Sub-Saharan Africa
2554,Malawi,1870,15,64.0,99.8,0.2,0,0,0,0,0,0.01,0.01,0,0,433,Sub-Saharan Africa
2587,Mali,1870,15,64.0,100,0,0,0,0,0,0,0.01,0,0,0,1908,Sub-Saharan Africa
2620,Mauritius,1870,15,64.0,94.3,5.6,1.5,0.1,0,0,0,0.22,0.22,0.01,0,193,Sub-Saharan Africa
2653,Mozambique,1870,15,64.0,99.9,0.1,0,0,0,0,0,0.01,0,0,0,1782,Sub-Saharan Africa
2686,Niger,1870,15,64.0,100,0,0,0,0,0,0,0.01,0,0,0,1028,Sub-Saharan Africa
2719,Reunion,1870,15,64.0,77.9,22.1,6.8,0,0,0,0,0.73,0.73,0,0,106,Sub-Saharan Africa
2752,Senegal,1870,15,64.0,99.9,0.1,0,0,0,0,0,0.01,0.01,0,0,617,Sub-Saharan Africa
2785,Sierra Leone,1870,15,64.0,99.7,0.3,0.2,0,0,0,0,0.03,0.02,0,0,38,Sub-Saharan Africa
2818,South Africa,1870,15,64.0,85.7,14.3,7.6,0,0,0,0,0.77,0.77,0,0,1482,Sub-Saharan Africa
2851,Sudan,1870,15,64.0,99.9,0.1,0,0,0,0,0,0.01,0,0,0,3449,Sub-Saharan Africa
2884,Uganda,1870,15,64.0,100,0,0,0,0,0,0,0.01,0,0,0,1307,Sub-Saharan Africa
2917,Zimbabwe,1870,15,64.0,99.3,0.7,0.2,0,0,0,0,0.03,0.02,0,0,671,Sub-Saharan Africa

In [69]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 6 to 2917
Data columns (total 17 columns):
Unnamed: 0     90 non-null object
Unnamed: 1     90 non-null object
Unnamed: 2     90 non-null object
Unnamed: 3     89 non-null float64
Unnamed: 4     90 non-null object
Unnamed: 5     90 non-null object
Unnamed: 6     89 non-null object
Unnamed: 7     89 non-null object
Unnamed: 8     89 non-null object
Unnamed: 9     89 non-null object
Unnamed: 10    89 non-null object
Unnamed: 11    90 non-null object
Unnamed: 12    90 non-null object
Unnamed: 13    90 non-null object
Unnamed: 14    90 non-null object
Unnamed: 15    90 non-null object
Unnamed: 16    90 non-null object
dtypes: float64(1), object(16)
memory usage: 12.7+ KB

In [77]:
dataset.dropna(axis=1,inplace=True)

In [78]:
dataset.shape

(90, 11)

In [79]:
dataset

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 4,Unnamed: 5,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
6,Country,Year,Age Group,No Schooling,Highest level attained,Avg. Years of Total Schooling,Avg. Years of Primary Schooling,Avg. Years of Secondary Schooling,Avg. Years of Tertiary\n Schooling,Population\n(1000s),Region
13,Australia,1870,15,50.5,49.3,1.77,1.76,0.01,0,932,Advanced Economies
46,Austria,1870,15,62.7,36.5,2.09,2.03,0.05,0.01,12414,Advanced Economies
79,Belgium,1870,15,44.2,52.9,2.43,2.3,0.11,0.01,3120,Advanced Economies
112,Canada,1870,15,29.2,68.2,2.74,2.65,0.09,0,2021,Advanced Economies
145,Denmark,1870,15,13.7,83.9,2.46,2.35,0.11,0,1085,Advanced Economies
178,Finland,1870,15,96.3,3.7,0.12,0.11,0.01,0,1099,Advanced Economies
211,France,1870,15,78.4,21.6,0.71,0.69,0.02,0,23656,Advanced Economies
244,Germany,1870,15,65.5,27.3,2.23,2.04,0.17,0.01,24858,Advanced Economies
277,Greece,1870,15,82.4,16,0.81,0.74,0.06,0.01,822,Advanced Economies
310,Ireland,1870,15,81.9,18,0.74,0.73,0,0,3169,Advanced Economies
343,Italy,1870,15,71.9,27.8,0.88,0.85,0.02,0.01,16732,Advanced Economies
376,Japan,1870,15,73.2,26.8,0.73,0.72,0,0,20909,Advanced Economies
409,Luxembourg,1870,15,99.2,0.8,0.04,0.04,0,0,119,Advanced Economies
442,Netherlands,1870,15,28,71.6,2.94,2.91,0.02,0,2192,Advanced Economies
475,New Zealand,1870,15,28.4,70.9,3.6,3.56,0.03,0.01,140,Advanced Economies
508,Norway,1870,15,36.6,60.5,4.31,4.2,0.09,0.01,1018,Advanced Economies
541,Portugal,1870,15,90.4,9.2,0.27,0.24,0.03,0,2658,Advanced Economies
574,Spain,1870,15,74.2,25.4,1.58,1.56,0.02,0,10178,Advanced Economies
607,Sweden,1870,15,21.5,72.1,3.61,3.29,0.31,0,2506,Advanced Economies
640,Switzerland,1870,15,25.7,72.7,4.1,4.03,0.06,0,1679,Advanced Economies
673,Turkey,1870,15,99.8,0.2,0.01,0.01,0,0,6421,Advanced Economies
706,USA,1870,15,25.6,60.1,4.13,3.57,0.54,0.02,22211,Advanced Economies
739,United Kingdom,1870,15,78,21.7,0.92,0.9,0.02,0,15390,Advanced Economies
772,Cambodia,1870,15,100,0,0.01,0,0,0,1343,Asia and the Pacific
805,China,1870,15,99.9,0.1,0.01,0,0,0,213960,Asia and the Pacific
838,Fiji,1870,15,99.1,0.9,0.04,0.04,0,0,88,Asia and the Pacific
871,"Hong Kong, China",1870,15,95.6,4.3,0.15,0.14,0.01,0,76,Asia and the Pacific
904,India,1870,15,99.6,0.1,0.03,0.02,0.01,0,145914,Asia and the Pacific
937,Indonesia,1870,15,99.9,0.1,0.01,0.01,0,0,19020,Asia and the Pacific
...,...,...,...,...,...,...,...,...,...,...,...
1960,Paraguay,1870,15,97.8,2.2,0.09,0.08,0,0,300,Latin America and the Caribbean
1993,Peru,1870,15,98.4,1.6,0.06,0.06,0,0,1477,Latin America and the Caribbean
2026,Trinidad and Tobago,1870,15,89.3,10.7,0.53,0.52,0,0,78,Latin America and the Caribbean
2059,Uruguay,1870,15,90,9.7,0.41,0.39,0.01,0,194,Latin America and the Caribbean
2092,Venezuela,1870,15,99.5,0.5,0.02,0.01,0,0,963,Latin America and the Caribbean
2125,Algeria,1870,15,97.4,2.3,0.11,0.09,0.01,0,2160,Middle East and North Africa
2158,Egypt,1870,15,99.5,0.5,0.02,0.02,0,0,4060,Middle East and North Africa
2191,Iran,1870,15,100,0,0.01,0,0,0,4939,Middle East and North Africa
2224,Iraq,1870,15,100,0,0.01,0,0,0,863,Middle East and North Africa
2257,Malta,1870,15,81.2,18.8,0.65,0.65,0,0,91,Middle East and North Africa
2290,Morocco,1870,15,100,0,0.01,0,0,0,2974,Middle East and North Africa
2323,Syria,1870,15,99.8,0.1,0.04,0.02,0.02,0,918,Middle East and North Africa
2356,Tunisia,1870,15,100,0,0.01,0,0,0,699,Middle East and North Africa
2389,Benin,1870,15,100,0,0.01,0,0,0,530,Sub-Saharan Africa
2422,Cameroon,1870,15,99.8,0.2,0.01,0.01,0,0,1310,Sub-Saharan Africa
2455,Cote dIvoire,1870,15,97.4,2.6,0.1,0.1,0,0,120,Sub-Saharan Africa
2488,Ghana,1870,15,99.7,0.3,0.02,0.02,0,0,1249,Sub-Saharan Africa
2521,Kenya,1870,15,99.9,0.1,0.01,0.01,0,0,2174,Sub-Saharan Africa
2554,Malawi,1870,15,99.8,0.2,0.01,0.01,0,0,433,Sub-Saharan Africa
2587,Mali,1870,15,100,0,0.01,0,0,0,1908,Sub-Saharan Africa
2620,Mauritius,1870,15,94.3,5.6,0.22,0.22,0.01,0,193,Sub-Saharan Africa
2653,Mozambique,1870,15,99.9,0.1,0.01,0,0,0,1782,Sub-Saharan Africa
2686,Niger,1870,15,100,0,0.01,0,0,0,1028,Sub-Saharan Africa
2719,Reunion,1870,15,77.9,22.1,0.73,0.73,0,0,106,Sub-Saharan Africa
2752,Senegal,1870,15,99.9,0.1,0.01,0.01,0,0,617,Sub-Saharan Africa
2785,Sierra Leone,1870,15,99.7,0.3,0.03,0.02,0,0,38,Sub-Saharan Africa
2818,South Africa,1870,15,85.7,14.3,0.77,0.77,0,0,1482,Sub-Saharan Africa
2851,Sudan,1870,15,99.9,0.1,0.01,0,0,0,3449,Sub-Saharan Africa
2884,Uganda,1870,15,100,0,0.01,0,0,0,1307,Sub-Saharan Africa
2917,Zimbabwe,1870,15,99.3,0.7,0.03,0.02,0,0,671,Sub-Saharan Africa

In [84]:
dataset.columns=['Country','Year','Age Group','No Schooling','Highest level attained', 'Avg. Years of Total Schooling','Avg. Years of Primary Schooling','Avg. Years of Secondary Schooling'
                
                ,'Avg. Years of Tertiary Schooling','Population(1000s)','Region']

In [85]:
dataset.columns

Index(['Country', 'Year', 'Age Group', 'No Schooling',
       'Highest level attained', 'Avg. Years of Total Schooling',
       'Avg. Years of Primary Schooling', 'Avg. Years of Secondary Schooling',
       'Avg. Years of Tertiary Schooling', 'Population(1000s)', 'Region'],
      dtype='object')

In [86]:
dataset

,Country,Year,Age Group,No Schooling,Highest level attained,Avg. Years of Total Schooling,Avg. Years of Primary Schooling,Avg. Years of Secondary Schooling,Avg. Years of Tertiary Schooling,Population(1000s),Region
6,Country,Year,Age Group,No Schooling,Highest level attained,Avg. Years of Total Schooling,Avg. Years of Primary Schooling,Avg. Years of Secondary Schooling,Avg. Years of Tertiary\n Schooling,Population\n(1000s),Region
13,Australia,1870,15,50.5,49.3,1.77,1.76,0.01,0,932,Advanced Economies
46,Austria,1870,15,62.7,36.5,2.09,2.03,0.05,0.01,12414,Advanced Economies
79,Belgium,1870,15,44.2,52.9,2.43,2.3,0.11,0.01,3120,Advanced Economies
112,Canada,1870,15,29.2,68.2,2.74,2.65,0.09,0,2021,Advanced Economies
145,Denmark,1870,15,13.7,83.9,2.46,2.35,0.11,0,1085,Advanced Economies
178,Finland,1870,15,96.3,3.7,0.12,0.11,0.01,0,1099,Advanced Economies
211,France,1870,15,78.4,21.6,0.71,0.69,0.02,0,23656,Advanced Economies
244,Germany,1870,15,65.5,27.3,2.23,2.04,0.17,0.01,24858,Advanced Economies
277,Greece,1870,15,82.4,16,0.81,0.74,0.06,0.01,822,Advanced Economies
310,Ireland,1870,15,81.9,18,0.74,0.73,0,0,3169,Advanced Economies
343,Italy,1870,15,71.9,27.8,0.88,0.85,0.02,0.01,16732,Advanced Economies
376,Japan,1870,15,73.2,26.8,0.73,0.72,0,0,20909,Advanced Economies
409,Luxembourg,1870,15,99.2,0.8,0.04,0.04,0,0,119,Advanced Economies
442,Netherlands,1870,15,28,71.6,2.94,2.91,0.02,0,2192,Advanced Economies
475,New Zealand,1870,15,28.4,70.9,3.6,3.56,0.03,0.01,140,Advanced Economies
508,Norway,1870,15,36.6,60.5,4.31,4.2,0.09,0.01,1018,Advanced Economies
541,Portugal,1870,15,90.4,9.2,0.27,0.24,0.03,0,2658,Advanced Economies
574,Spain,1870,15,74.2,25.4,1.58,1.56,0.02,0,10178,Advanced Economies
607,Sweden,1870,15,21.5,72.1,3.61,3.29,0.31,0,2506,Advanced Economies
640,Switzerland,1870,15,25.7,72.7,4.1,4.03,0.06,0,1679,Advanced Economies
673,Turkey,1870,15,99.8,0.2,0.01,0.01,0,0,6421,Advanced Economies
706,USA,1870,15,25.6,60.1,4.13,3.57,0.54,0.02,22211,Advanced Economies
739,United Kingdom,1870,15,78,21.7,0.92,0.9,0.02,0,15390,Advanced Economies
772,Cambodia,1870,15,100,0,0.01,0,0,0,1343,Asia and the Pacific
805,China,1870,15,99.9,0.1,0.01,0,0,0,213960,Asia and the Pacific
838,Fiji,1870,15,99.1,0.9,0.04,0.04,0,0,88,Asia and the Pacific
871,"Hong Kong, China",1870,15,95.6,4.3,0.15,0.14,0.01,0,76,Asia and the Pacific
904,India,1870,15,99.6,0.1,0.03,0.02,0.01,0,145914,Asia and the Pacific
937,Indonesia,1870,15,99.9,0.1,0.01,0.01,0,0,19020,Asia and the Pacific
...,...,...,...,...,...,...,...,...,...,...,...
1960,Paraguay,1870,15,97.8,2.2,0.09,0.08,0,0,300,Latin America and the Caribbean
1993,Peru,1870,15,98.4,1.6,0.06,0.06,0,0,1477,Latin America and the Caribbean
2026,Trinidad and Tobago,1870,15,89.3,10.7,0.53,0.52,0,0,78,Latin America and the Caribbean
2059,Uruguay,1870,15,90,9.7,0.41,0.39,0.01,0,194,Latin America and the Caribbean
2092,Venezuela,1870,15,99.5,0.5,0.02,0.01,0,0,963,Latin America and the Caribbean
2125,Algeria,1870,15,97.4,2.3,0.11,0.09,0.01,0,2160,Middle East and North Africa
2158,Egypt,1870,15,99.5,0.5,0.02,0.02,0,0,4060,Middle East and North Africa
2191,Iran,1870,15,100,0,0.01,0,0,0,4939,Middle East and North Africa
2224,Iraq,1870,15,100,0,0.01,0,0,0,863,Middle East and North Africa
2257,Malta,1870,15,81.2,18.8,0.65,0.65,0,0,91,Middle East and North Africa
2290,Morocco,1870,15,100,0,0.01,0,0,0,2974,Middle East and North Africa
2323,Syria,1870,15,99.8,0.1,0.04,0.02,0.02,0,918,Middle East and North Africa
2356,Tunisia,1870,15,100,0,0.01,0,0,0,699,Middle East and North Africa
2389,Benin,1870,15,100,0,0.01,0,0,0,530,Sub-Saharan Africa
2422,Cameroon,1870,15,99.8,0.2,0.01,0.01,0,0,1310,Sub-Saharan Africa
2455,Cote dIvoire,1870,15,97.4,2.6,0.1,0.1,0,0,120,Sub-Saharan Africa
2488,Ghana,1870,15,99.7,0.3,0.02,0.02,0,0,1249,Sub-Saharan Africa
2521,Kenya,1870,15,99.9,0.1,0.01,0.01,0,0,2174,Sub-Saharan Africa
2554,Malawi,1870,15,99.8,0.2,0.01,0.01,0,0,433,Sub-Saharan Africa
2587,Mali,1870,15,100,0,0.01,0,0,0,1908,Sub-Saharan Africa
2620,Mauritius,1870,15,94.3,5.6,0.22,0.22,0.01,0,193,Sub-Saharan Africa
2653,Mozambique,1870,15,99.9,0.1,0.01,0,0,0,1782,Sub-Saharan Africa
2686,Niger,1870,15,100,0,0.01,0,0,0,1028,Sub-Saharan Africa
2719,Reunion,1870,15,77.9,22.1,0.73,0.73,0,0,106,Sub-Saharan Africa
2752,Senegal,1870,15,99.9,0.1,0.01,0.01,0,0,617,Sub-Saharan Africa
2785,Sierra Leone,1870,15,99.7,0.3,0.03,0.02,0,0,38,Sub-Saharan Africa
2818,South Africa,1870,15,85.7,14.3,0.77,0.77,0,0,1482,Sub-Saharan Africa
2851,Sudan,1870,15,99.9,0.1,0.01,0,0,0,3449,Sub-Saharan Africa
2884,Uganda,1870,15,100,0,0.01,0,0,0,1307,Sub-Saharan Africa
2917,Zimbabwe,1870,15,99.3,0.7,0.03,0.02,0,0,671,Sub-Saharan Africa

In [88]:
dataset.drop([6],axis=0,inplace=True)

In [89]:
dataset

,Country,Year,Age Group,No Schooling,Highest level attained,Avg. Years of Total Schooling,Avg. Years of Primary Schooling,Avg. Years of Secondary Schooling,Avg. Years of Tertiary Schooling,Population(1000s),Region
13,Australia,1870,15,50.5,49.3,1.77,1.76,0.01,0,932,Advanced Economies
46,Austria,1870,15,62.7,36.5,2.09,2.03,0.05,0.01,12414,Advanced Economies
79,Belgium,1870,15,44.2,52.9,2.43,2.3,0.11,0.01,3120,Advanced Economies
112,Canada,1870,15,29.2,68.2,2.74,2.65,0.09,0,2021,Advanced Economies
145,Denmark,1870,15,13.7,83.9,2.46,2.35,0.11,0,1085,Advanced Economies
178,Finland,1870,15,96.3,3.7,0.12,0.11,0.01,0,1099,Advanced Economies
211,France,1870,15,78.4,21.6,0.71,0.69,0.02,0,23656,Advanced Economies
244,Germany,1870,15,65.5,27.3,2.23,2.04,0.17,0.01,24858,Advanced Economies
277,Greece,1870,15,82.4,16,0.81,0.74,0.06,0.01,822,Advanced Economies
310,Ireland,1870,15,81.9,18,0.74,0.73,0,0,3169,Advanced Economies
343,Italy,1870,15,71.9,27.8,0.88,0.85,0.02,0.01,16732,Advanced Economies
376,Japan,1870,15,73.2,26.8,0.73,0.72,0,0,20909,Advanced Economies
409,Luxembourg,1870,15,99.2,0.8,0.04,0.04,0,0,119,Advanced Economies
442,Netherlands,1870,15,28,71.6,2.94,2.91,0.02,0,2192,Advanced Economies
475,New Zealand,1870,15,28.4,70.9,3.6,3.56,0.03,0.01,140,Advanced Economies
508,Norway,1870,15,36.6,60.5,4.31,4.2,0.09,0.01,1018,Advanced Economies
541,Portugal,1870,15,90.4,9.2,0.27,0.24,0.03,0,2658,Advanced Economies
574,Spain,1870,15,74.2,25.4,1.58,1.56,0.02,0,10178,Advanced Economies
607,Sweden,1870,15,21.5,72.1,3.61,3.29,0.31,0,2506,Advanced Economies
640,Switzerland,1870,15,25.7,72.7,4.1,4.03,0.06,0,1679,Advanced Economies
673,Turkey,1870,15,99.8,0.2,0.01,0.01,0,0,6421,Advanced Economies
706,USA,1870,15,25.6,60.1,4.13,3.57,0.54,0.02,22211,Advanced Economies
739,United Kingdom,1870,15,78,21.7,0.92,0.9,0.02,0,15390,Advanced Economies
772,Cambodia,1870,15,100,0,0.01,0,0,0,1343,Asia and the Pacific
805,China,1870,15,99.9,0.1,0.01,0,0,0,213960,Asia and the Pacific
838,Fiji,1870,15,99.1,0.9,0.04,0.04,0,0,88,Asia and the Pacific
871,"Hong Kong, China",1870,15,95.6,4.3,0.15,0.14,0.01,0,76,Asia and the Pacific
904,India,1870,15,99.6,0.1,0.03,0.02,0.01,0,145914,Asia and the Pacific
937,Indonesia,1870,15,99.9,0.1,0.01,0.01,0,0,19020,Asia and the Pacific
970,Malaysia,1870,15,98.3,1.7,0.06,0.06,0,0,494,Asia and the Pacific
...,...,...,...,...,...,...,...,...,...,...,...
1960,Paraguay,1870,15,97.8,2.2,0.09,0.08,0,0,300,Latin America and the Caribbean
1993,Peru,1870,15,98.4,1.6,0.06,0.06,0,0,1477,Latin America and the Caribbean
2026,Trinidad and Tobago,1870,15,89.3,10.7,0.53,0.52,0,0,78,Latin America and the Caribbean
2059,Uruguay,1870,15,90,9.7,0.41,0.39,0.01,0,194,Latin America and the Caribbean
2092,Venezuela,1870,15,99.5,0.5,0.02,0.01,0,0,963,Latin America and the Caribbean
2125,Algeria,1870,15,97.4,2.3,0.11,0.09,0.01,0,2160,Middle East and North Africa
2158,Egypt,1870,15,99.5,0.5,0.02,0.02,0,0,4060,Middle East and North Africa
2191,Iran,1870,15,100,0,0.01,0,0,0,4939,Middle East and North Africa
2224,Iraq,1870,15,100,0,0.01,0,0,0,863,Middle East and North Africa
2257,Malta,1870,15,81.2,18.8,0.65,0.65,0,0,91,Middle East and North Africa
2290,Morocco,1870,15,100,0,0.01,0,0,0,2974,Middle East and North Africa
2323,Syria,1870,15,99.8,0.1,0.04,0.02,0.02,0,918,Middle East and North Africa
2356,Tunisia,1870,15,100,0,0.01,0,0,0,699,Middle East and North Africa
2389,Benin,1870,15,100,0,0.01,0,0,0,530,Sub-Saharan Africa
2422,Cameroon,1870,15,99.8,0.2,0.01,0.01,0,0,1310,Sub-Saharan Africa
2455,Cote dIvoire,1870,15,97.4,2.6,0.1,0.1,0,0,120,Sub-Saharan Africa
2488,Ghana,1870,15,99.7,0.3,0.02,0.02,0,0,1249,Sub-Saharan Africa
2521,Kenya,1870,15,99.9,0.1,0.01,0.01,0,0,2174,Sub-Saharan Africa
2554,Malawi,1870,15,99.8,0.2,0.01,0.01,0,0,433,Sub-Saharan Africa
2587,Mali,1870,15,100,0,0.01,0,0,0,1908,Sub-Saharan Africa
2620,Mauritius,1870,15,94.3,5.6,0.22,0.22,0.01,0,193,Sub-Saharan Africa
2653,Mozambique,1870,15,99.9,0.1,0.01,0,0,0,1782,Sub-Saharan Africa
2686,Niger,1870,15,100,0,0.01,0,0,0,1028,Sub-Saharan Africa
2719,Reunion,1870,15,77.9,22.1,0.73,0.73,0,0,106,Sub-Saharan Africa
2752,Senegal,1870,15,99.9,0.1,0.01,0.01,0,0,617,Sub-Saharan Africa
2785,Sierra Leone,1870,15,99.7,0.3,0.03,0.02,0,0,38,Sub-Saharan Africa
2818,South Africa,1870,15,85.7,14.3,0.77,0.77,0,0,1482,Sub-Saharan Africa
2851,Sudan,1870,15,99.9,0.1,0.01,0,0,0,3449,Sub-Saharan Africa
2884,Uganda,1870,15,100,0,0.01,0,0,0,1307,Sub-Saharan Africa
2917,Zimbabwe,1870,15,99.3,0.7,0.03,0.02,0,0,671,Sub-Saharan Africa