In [1]:
import pandas as pd

In [5]:
pd.__version__

'0.23.4'

In [8]:
data1=pd.Series([2,4,5,6,7])
data1

0    2
1    4
2    5
3    6
4    7
dtype: int64

In [9]:
data1.values

array([2, 4, 5, 6, 7])

In [10]:
data1.index

RangeIndex(start=0, stop=5, step=1)

In [11]:
data2=pd.Series([2,4,5,6,7] , index=['a','b','c','d','e'])
data2

a    2
b    4
c    5
d    6
e    7
dtype: int64

In [15]:
data2['c']

5

# Python Dictionary used in Pandas Series

In [16]:
import pandas as pd

In [24]:
Python_dictionary={
    'Name':'Anamul Hasan',
    'Age':24
}
pandas_series=pd.Series(Python_dictionary)

pandas_series

Name    Anamul Hasan
Age               24
dtype: object

In [25]:
pd.Series({
    2:'a', 
    1:'b', 
    3:'c'
})

2    a
1    b
3    c
dtype: object

In [27]:
pd.Series({
    2:'a', 
    1:'b', 
    3:'c'
},index=(3,2))

3    c
2    a
dtype: object

# DataFrame

class pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)

In [6]:
import pandas as pd

In [7]:
df=pd.DataFrame({
    'Roll':[1,4,7,11,12,8,14],
    'Number':[22,33,44,55,66,44,67],
    'Grade':['F','F','C','B','B+','D','B+'],

},index=['a','b','c','d','e','f','g'])

df

   Roll  Number Grade
a     1      22     F
b     4      33     F
c     7      44     C
d    11      55     B
e    12      66    B+
f     8      44     D
g    14      67    B+

In [38]:
df['Number']

0    22
1    33
2    44
3    55
4    66
5    44
6    67
Name: Number, dtype: int64

In [8]:
df['Number'].max()

67

In [9]:
df[['Roll','Grade']]

   Roll Grade
a     1     F
b     4     F
c     7     C
d    11     B
e    12    B+
f     8     D
g    14    B+

In [10]:
df1=pd.DataFrame({
    'Roll':[1,4,7,11,12,8,14],
    'Number':[22,33,44,55,66,44,67],
    'Grade':['F','F','C','B','B+','D','B+'],

},index=['a','b','c','d','e','f','g'])

df1

   Roll  Number Grade
a     1      22     F
b     4      33     F
c     7      44     C
d    11      55     B
e    12      66    B+
f     8      44     D
g    14      67    B+

In [24]:
df2=pd.DataFrame({
    'Roll':[19,4,7,20,12,24,14],
    'Number':[22,44,44,55,66,44,67],
    'Grade':['F','D','C','B','B+','D','B+'],

},index=['a','b','c','d','e','f','g'])

df2

   Roll  Number Grade
a    19      22     F
b     4      44     D
c     7      44     C
d    20      55     B
e    12      66    B+
f    24      44     D
g    14      67    B+

pandas.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, sort=None, copy=True)

DataFrame.merge(right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)

In [18]:
pd.merge(df1,df2)

   Roll  Number Grade
0     7      44     C
1    12      66    B+
2    14      67    B+

In [21]:
pd.merge(df1,df2,on='Roll')

   Roll  Number_x Grade_x  Number_y Grade_y
0     4        33       F        44       D
1     7        44       C        44       C
2    12        66      B+        66      B+
3    14        67      B+        67      B+

In [25]:
pd.concat([df1,df2],ignore_index=True)

    Roll  Number Grade
0      1      22     F
1      4      33     F
2      7      44     C
3     11      55     B
4     12      66    B+
5      8      44     D
6     14      67    B+
7     19      22     F
8      4      44     D
9      7      44     C
10    20      55     B
11    12      66    B+
12    24      44     D
13    14      67    B+

In [2]:
import pandas as pd
ser1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
ser2 = pd.Series(['D', 'E', 'F'], index=[4, 5, 6])
pd.concat([ser1, ser2])

1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

In [15]:
import pandas as pd
ser3 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])

In [16]:
seriesInDataFrame=pd.DataFrame(ser3)
seriesInDataFrame

   0
1  A
2  B
3  C

In [18]:
area = pd.Series({'California': 423967, 'Texas': 695662,
'New York': 141297, 'Florida': 170312,
'Illinois': 149995})

pop = pd.Series({'California': 38332521, 'Texas': 26448193,
'New York': 19651127, 'Florida': 19552860,
'Illinois': 12882135})

In [19]:
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [21]:
pop

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [27]:
series_dataframe = pd.DataFrame({'Area':area, 'Pop':pop})
series_dataframe

              Area       Pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [30]:
series_dataframe['density'] = series_dataframe['Pop'] / series_dataframe['Area']

In [32]:
series_dataframe

              Area       Pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [41]:
series_dataframe.iloc[:3]

              Area       Pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746

In [44]:
series_dataframe.loc[:'Florida', : 'Pop']

              Area       Pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860

In [47]:
series_dataframe.loc[series_dataframe.density > 100, ['Area', 'Pop']]

            Area       Pop
New York  141297  19651127
Florida   170312  19552860

In [51]:
series_dataframe[series_dataframe.density > 100]

            Area       Pop     density
New York  141297  19651127  139.076746
Florida   170312  19552860  114.806121

In [7]:
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
df

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [3]:
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
df

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

In [5]:
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})
df1

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR

In [9]:
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
'hire_date': [2004, 2008, 2012, 2014]})
df2

  employee  hire_date
0     Lisa       2004
1      Bob       2008
2     Jake       2012
3      Sue       2014

 #pd.merge() function recognizes that each DataFrame has an “employee” column,
and automatically joins using this column as a key

One ---->>>> to ----->>>One

In [13]:
df3=pd.merge(df1, df2)
df3

  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

Many ----->>>>> To ----->>>> One
Many-to-one joins are joins in which one of the two key columns

In [15]:
df4=pd.DataFrame({'group': ['Accounting', 'Engineering', 'HR'],
'supervisor': ['Carly', 'Guido', 'Steve']})
df4

         group supervisor
0   Accounting      Carly
1  Engineering      Guido
2           HR      Steve

In [16]:
pd.merge(df3,df4)

  employee        group  hire_date supervisor
0      Bob   Accounting       2008      Carly
1     Jake  Engineering       2012      Guido
2     Lisa  Engineering       2004      Guido
3      Sue           HR       2014      Steve

# Read Csv File

In [7]:
import pandas as pd

In [8]:
df=pd.read_csv("pokemon.csv",nrows=50)
df

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.00,1.0,1,0.5,0.5,0.50,2.0,2.0,1,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.00,1.0,1,0.5,0.5,0.50,2.0,2.0,1,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.00,1.0,1,0.5,0.5,0.50,2.0,2.0,1,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.50,1.0,1,1.0,0.5,1.00,0.5,1.0,1,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.50,1.0,1,1.0,0.5,1.00,0.5,1.0,1,...,88.1,5,80,65,80,fire,NaN,19.0,1,0
5,"['Blaze', 'Solar Power']",0.25,1.0,1,2.0,0.5,0.50,0.5,1.0,1,...,88.1,6,159,115,100,fire,flying,90.5,1,0
6,"['Torrent', 'Rain Dish']",1.00,1.0,1,2.0,1.0,1.00,0.5,1.0,1,...,88.1,7,50,64,43,water,NaN,9.0,1,0
7,"['Torrent', 'Rain Dish']",1.00,1.0,1,2.0,1.0,1.00,0.5,1.0,1,...,88.1,8,65,80,58,water,NaN,22.5,1,0
8,"['Torrent', 'Rain Dish']",1.00,1.0,1,2.0,1.0,1.00,0.5,1.0,1,...,88.1,9,135,115,78,water,NaN,85.5,1,0
9,"['Shield Dust', 'Run Away']",1.00,1.0,1,1.0,1.0,0.50,2.0,2.0,1,...,50.0,10,20,20,45,bug,NaN,2.9,1,0
10,['Shed Skin'],1.00,1.0,1,1.0,1.0,0.50,2.0,2.0,1,...,50.0,11,25,25,30,bug,NaN,9.9,1,0
11,"['Compoundeyes', 'Tinted Lens']",0.50,1.0,1,2.0,1.0,0.25,2.0,2.0,1,...,50.0,12,90,80,70,bug,flying,32.0,1,0
12,"['Shield Dust', 'Run Away']",0.50,1.0,1,1.0,0.5,0.25,2.0,2.0,1,...,50.0,13,20,20,50,bug,poison,3.2,1,0
13,['Shed Skin'],0.50,1.0,1,1.0,0.5,0.25,2.0,2.0,1,...,50.0,14,25,25,35,bug,poison,10.0,1,0
14,"['Swarm', 'Sniper']",0.50,1.0,1,1.0,0.5,0.25,2.0,2.0,1,...,50.0,15,15,80,145,bug,poison,29.5,1,0
15,"['Keen Eye', 'Tangled Feet', 'Big Pecks']",0.50,1.0,1,2.0,1.0,1.00,1.0,1.0,0,...,50.0,16,35,35,56,normal,flying,1.8,1,0
16,"['Keen Eye', 'Tangled Feet', 'Big Pecks']",0.50,1.0,1,2.0,1.0,1.00,1.0,1.0,0,...,50.0,17,50,50,71,normal,flying,30.0,1,0
17,"['Keen Eye', 'Tangled Feet', 'Big Pecks']",0.50,1.0,1,2.0,1.0,1.00,1.0,1.0,0,...,50.0,18,135,80,121,normal,flying,39.5,1,0
18,"['Run Away', 'Guts', 'Hustle', 'Gluttony', 'Hu...",1.00,1.0,1,1.0,1.0,2.00,1.0,1.0,0,...,50.0,19,25,35,72,normal,dark,NaN,1,0
19,"['Run Away', 'Guts', 'Hustle', 'Gluttony', 'Hu...",1.00,1.0,1,1.0,1.0,2.00,1.0,1.0,0,...,50.0,20,40,80,77,normal,dark,NaN,1,0
20,"['Keen Eye', 'Sniper']",0.50,1.0,1,2.0,1.0,1.00,1.0,1.0,0,...,50.0,21,31,31,70,normal,flying,2.0,1,0
21,"['Keen Eye', 'Sniper']",0.50,1.0,1,2.0,1.0,1.00,1.0,1.0,0,...,50.0,22,61,61,100,normal,flying,38.0,1,0
22,"['Intimidate', 'Shed Skin', 'Unnerve']",0.50,1.0,1,1.0,0.5,0.50,1.0,1.0,1,...,50.0,23,40,54,55,poison,NaN,6.9,1,0
23,"['Intimidate', 'Shed Skin', 'Unnerve']",0.50,1.0,1,1.0,0.5,0.50,1.0,1.0,1,...,50.0,24,65,79,80,poison,NaN,65.0,1,0
24,"['Static', 'Lightningrod']",1.00,1.0,1,0.5,1.0,1.00,1.0,0.5,1,...,50.0,25,50,50,90,electric,NaN,6.0,1,0
25,"['Static', 'Lightningrod', 'Surge Surfer']",1.00,1.0,1,0.5,1.0,1.00,1.0,0.5,1,...,50.0,26,95,85,110,electric,electric,NaN,1,0
26,"['Sand Veil', 'Sand Rush', 'Snow Cloak', 'Slus...",1.00,1.0,1,0.0,1.0,1.00,1.0,1.0,1,...,50.0,27,10,35,40,ground,ice,NaN,1,0
27,"['Sand Veil', 'Sand Rush', 'Snow Cloak', 'Slus...",1.00,1.0,1,0.0,1.0,1.00,1.0,1.0,1,...,50.0,28,25,65,65,ground,ice,NaN,1,0
28,"['Poison Point', 'Rivalry', 'Hustle']",0.50,1.0,1,1.0,0.5,0.50,1.0,1.0,1,...,0.0,29,40,40,41,poison,NaN,7.0,1,0
29,"['Poison Point', 'Rivalry', 'Hustle']",0.50,1.0,1,1.0,0.5,0.50,1.0,1.0,1,...,0.0,30,55,55,56,poison,NaN,20.0,1,0
30,"['Poison Point', 'Rivalry', 'Sheer Force']",0.50,1.0,1,0.0,0.5,0.50,1.0,1.0,1,...,0.0,31,75,85,76,poison,ground,60.0,1,0
31,"['Poison Point', 'Rivalry', 'Hustle']",0.50,1.0,1,1.0,0.5,0.50,1.0,1.0,1,...,100.0,32,40,40,50,poison,NaN,9.0,1,0
32,"['Poison Point', 'Rivalry', 'Hustle']",0.50,1.0,1,1.0,0.5,0.50,1.0,1.0,1,...,100.0,33,55,55,65,poison,NaN,19.5,1,0
33,"['Poison Point', 'Rivalry', 'Sheer Force']",0.50,1.0,1,0.0,0.5,0.50,1.0,1.0,1,...,100.0,34,85,75,85,poison,ground,62.0,1,0
34,"['Cute Charm', 'Magic Guard', 'Friend Guard']",0.50,0.5,0,1.0,1.0,0.50,1.0,1.0,1,...,24.6,35,60,65,35,fairy,NaN,7.5,1,0
35,"['Cute Charm', 'Magic Guard', 'Unaware']",0.50,0.5,0,1.0,1.0,0.50,1.0,1.0,1,...,24.6,36,95,90,60,fairy,NaN,40.0,1,0
36,"['Flash Fire', 'Drought', 'Snow Cloak', 'Snow ...",0.50,1.0,1,1.0,0.5,1.00,0.5,1.0,1,...,24.6,37,50,65,65,fire,ice,NaN,1,0
37,"['Flash Fire', 'Drought', 'Snow Cloak', 'Snow ...",0.50,1.0,1,1.0,0.5,1.00,0.5,1.0,1,...,24.6,38,81,100,109,fire,ice,NaN,1,0
38,"['Cute Charm', 'Competitive', 'Friend Guard']",0.50,0.5,0,1.0,1.0,1.00,1.0,1.0,0,...,24.6,39,45,25,20,normal,fairy,5.5,1,0
39,"['Cute Charm', 'Competitive', 'Frisk']",0.50,0.5,0,1.0,1.0,1.00,1.0,1.0,0,...,24.6,40,85,50,45,normal,fairy,12.0,1,0
40,"['Inner Focus', 'Infiltrator']",0.25,1.0,1,2.0,0.5,0.25,1.0,1.0,1,...,50.0,41,30,40,55,poison,flying,7.5,1,0
41,"['Inner Focus', 'Infiltrator']",0.25,1.0,1,2.0,0.5,0.25,1.0,1.0,1,...,50.0,42,65,75,90,poison,flying,55.0,1,0
42,"['Chlorophyll', 'Run Away']",1.00,1.0,1,0.5,0.5,0.50,2.0,2.0,1,...,50.0,43,75,65,30,grass,poison,5.4,1,0
43,"['Chlorophyll', 'Stench']",1.00,1.0,1,0.5,0.5,0.50,2.0,2.0,1,...,50.0,44,85,75,40,grass,poison,8.6,1,0
44,"['Chlorophyll', 'Effect Spore']",1.00,1.0,1,0.5,0.5,0.50,2.0,2.0,1,...,50.0,45,110,90,50,grass,poison,18.6,1,0
45,"['Effect Spore', 'Dry Skin', 'Damp']",2.00,1.0,1,0.5,1.0,0.50,4.0,4.0,1,...,50.0,46,45,55,25,bug,grass,5.4,1,0
46,"['Effect Spore', 'Dry Skin', 'Damp']",2.00,1.0,1,0.5,1.0,0.50,4.0,4.0,1,...,50.0,47,60,80,30,bug,grass,29.5,1,0
47,"['Compoundeyes', 'Tinted Lens', 'Run Away']",0.50,1.0,1,1.0,0.5,0.25,2.0,2.0,1,...,50.0,48,40,55,45,bug,poison,30.0,1,0
48,"['Shield Dust', 'Tinted Lens', 'Wonder Skin ']",0.50,1.0,1,1.0,0.5,0.25,2.0,2.0,1,...,50.0,49,90,75,90,bug,poison,12.5,1,0
49,"['Sand Veil', 'Arena Trap', 'Sand Force', 'San...",1.00,1.0,1,0.0,1.0,1.00,1.0,1.0,1,...,50.0,50,35,45,90,ground,ground,NaN,1,0

In [9]:
df.dropna(subset=['weight_kg'])  #dropna(how='all')   # If data has all NaN value then the row will drop

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.00,1.0,1,0.5,0.5,0.50,2.0,2.0,1,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.00,1.0,1,0.5,0.5,0.50,2.0,2.0,1,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.00,1.0,1,0.5,0.5,0.50,2.0,2.0,1,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.50,1.0,1,1.0,0.5,1.00,0.5,1.0,1,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.50,1.0,1,1.0,0.5,1.00,0.5,1.0,1,...,88.1,5,80,65,80,fire,NaN,19.0,1,0
5,"['Blaze', 'Solar Power']",0.25,1.0,1,2.0,0.5,0.50,0.5,1.0,1,...,88.1,6,159,115,100,fire,flying,90.5,1,0
6,"['Torrent', 'Rain Dish']",1.00,1.0,1,2.0,1.0,1.00,0.5,1.0,1,...,88.1,7,50,64,43,water,NaN,9.0,1,0
7,"['Torrent', 'Rain Dish']",1.00,1.0,1,2.0,1.0,1.00,0.5,1.0,1,...,88.1,8,65,80,58,water,NaN,22.5,1,0
8,"['Torrent', 'Rain Dish']",1.00,1.0,1,2.0,1.0,1.00,0.5,1.0,1,...,88.1,9,135,115,78,water,NaN,85.5,1,0
9,"['Shield Dust', 'Run Away']",1.00,1.0,1,1.0,1.0,0.50,2.0,2.0,1,...,50.0,10,20,20,45,bug,NaN,2.9,1,0
10,['Shed Skin'],1.00,1.0,1,1.0,1.0,0.50,2.0,2.0,1,...,50.0,11,25,25,30,bug,NaN,9.9,1,0
11,"['Compoundeyes', 'Tinted Lens']",0.50,1.0,1,2.0,1.0,0.25,2.0,2.0,1,...,50.0,12,90,80,70,bug,flying,32.0,1,0
12,"['Shield Dust', 'Run Away']",0.50,1.0,1,1.0,0.5,0.25,2.0,2.0,1,...,50.0,13,20,20,50,bug,poison,3.2,1,0
13,['Shed Skin'],0.50,1.0,1,1.0,0.5,0.25,2.0,2.0,1,...,50.0,14,25,25,35,bug,poison,10.0,1,0
14,"['Swarm', 'Sniper']",0.50,1.0,1,1.0,0.5,0.25,2.0,2.0,1,...,50.0,15,15,80,145,bug,poison,29.5,1,0
15,"['Keen Eye', 'Tangled Feet', 'Big Pecks']",0.50,1.0,1,2.0,1.0,1.00,1.0,1.0,0,...,50.0,16,35,35,56,normal,flying,1.8,1,0
16,"['Keen Eye', 'Tangled Feet', 'Big Pecks']",0.50,1.0,1,2.0,1.0,1.00,1.0,1.0,0,...,50.0,17,50,50,71,normal,flying,30.0,1,0
17,"['Keen Eye', 'Tangled Feet', 'Big Pecks']",0.50,1.0,1,2.0,1.0,1.00,1.0,1.0,0,...,50.0,18,135,80,121,normal,flying,39.5,1,0
20,"['Keen Eye', 'Sniper']",0.50,1.0,1,2.0,1.0,1.00,1.0,1.0,0,...,50.0,21,31,31,70,normal,flying,2.0,1,0
21,"['Keen Eye', 'Sniper']",0.50,1.0,1,2.0,1.0,1.00,1.0,1.0,0,...,50.0,22,61,61,100,normal,flying,38.0,1,0
22,"['Intimidate', 'Shed Skin', 'Unnerve']",0.50,1.0,1,1.0,0.5,0.50,1.0,1.0,1,...,50.0,23,40,54,55,poison,NaN,6.9,1,0
23,"['Intimidate', 'Shed Skin', 'Unnerve']",0.50,1.0,1,1.0,0.5,0.50,1.0,1.0,1,...,50.0,24,65,79,80,poison,NaN,65.0,1,0
24,"['Static', 'Lightningrod']",1.00,1.0,1,0.5,1.0,1.00,1.0,0.5,1,...,50.0,25,50,50,90,electric,NaN,6.0,1,0
28,"['Poison Point', 'Rivalry', 'Hustle']",0.50,1.0,1,1.0,0.5,0.50,1.0,1.0,1,...,0.0,29,40,40,41,poison,NaN,7.0,1,0
29,"['Poison Point', 'Rivalry', 'Hustle']",0.50,1.0,1,1.0,0.5,0.50,1.0,1.0,1,...,0.0,30,55,55,56,poison,NaN,20.0,1,0
30,"['Poison Point', 'Rivalry', 'Sheer Force']",0.50,1.0,1,0.0,0.5,0.50,1.0,1.0,1,...,0.0,31,75,85,76,poison,ground,60.0,1,0
31,"['Poison Point', 'Rivalry', 'Hustle']",0.50,1.0,1,1.0,0.5,0.50,1.0,1.0,1,...,100.0,32,40,40,50,poison,NaN,9.0,1,0
32,"['Poison Point', 'Rivalry', 'Hustle']",0.50,1.0,1,1.0,0.5,0.50,1.0,1.0,1,...,100.0,33,55,55,65,poison,NaN,19.5,1,0
33,"['Poison Point', 'Rivalry', 'Sheer Force']",0.50,1.0,1,0.0,0.5,0.50,1.0,1.0,1,...,100.0,34,85,75,85,poison,ground,62.0,1,0
34,"['Cute Charm', 'Magic Guard', 'Friend Guard']",0.50,0.5,0,1.0,1.0,0.50,1.0,1.0,1,...,24.6,35,60,65,35,fairy,NaN,7.5,1,0
35,"['Cute Charm', 'Magic Guard', 'Unaware']",0.50,0.5,0,1.0,1.0,0.50,1.0,1.0,1,...,24.6,36,95,90,60,fairy,NaN,40.0,1,0
38,"['Cute Charm', 'Competitive', 'Friend Guard']",0.50,0.5,0,1.0,1.0,1.00,1.0,1.0,0,...,24.6,39,45,25,20,normal,fairy,5.5,1,0
39,"['Cute Charm', 'Competitive', 'Frisk']",0.50,0.5,0,1.0,1.0,1.00,1.0,1.0,0,...,24.6,40,85,50,45,normal,fairy,12.0,1,0
40,"['Inner Focus', 'Infiltrator']",0.25,1.0,1,2.0,0.5,0.25,1.0,1.0,1,...,50.0,41,30,40,55,poison,flying,7.5,1,0
41,"['Inner Focus', 'Infiltrator']",0.25,1.0,1,2.0,0.5,0.25,1.0,1.0,1,...,50.0,42,65,75,90,poison,flying,55.0,1,0
42,"['Chlorophyll', 'Run Away']",1.00,1.0,1,0.5,0.5,0.50,2.0,2.0,1,...,50.0,43,75,65,30,grass,poison,5.4,1,0
43,"['Chlorophyll', 'Stench']",1.00,1.0,1,0.5,0.5,0.50,2.0,2.0,1,...,50.0,44,85,75,40,grass,poison,8.6,1,0
44,"['Chlorophyll', 'Effect Spore']",1.00,1.0,1,0.5,0.5,0.50,2.0,2.0,1,...,50.0,45,110,90,50,grass,poison,18.6,1,0
45,"['Effect Spore', 'Dry Skin', 'Damp']",2.00,1.0,1,0.5,1.0,0.50,4.0,4.0,1,...,50.0,46,45,55,25,bug,grass,5.4,1,0
46,"['Effect Spore', 'Dry Skin', 'Damp']",2.00,1.0,1,0.5,1.0,0.50,4.0,4.0,1,...,50.0,47,60,80,30,bug,grass,29.5,1,0
47,"['Compoundeyes', 'Tinted Lens', 'Run Away']",0.50,1.0,1,1.0,0.5,0.25,2.0,2.0,1,...,50.0,48,40,55,45,bug,poison,30.0,1,0
48,"['Shield Dust', 'Tinted Lens', 'Wonder Skin ']",0.50,1.0,1,1.0,0.5,0.25,2.0,2.0,1,...,50.0,49,90,75,90,bug,poison,12.5,1,0

In [10]:
df[['abilities','against_bug','against_electric']].max()

abilities           ['Torrent', 'Rain Dish']
against_bug                                2
against_electric                           2
dtype: object

In [11]:
df.describe()

,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,against_grass,...,height_m,hp,percentage_male,pokedex_number,sp_attack,sp_defense,speed,weight_kg,generation,is_legendary
count,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,...,42.000000,50.000000,50.000000,50.00000,50.000000,50.00000,50.000000,42.000000,50.0,50.0
mean,0.725000,0.960000,0.920000,1.040000,0.740000,0.710000,1.320000,1.380000,0.820000,0.695000,...,0.997619,60.440000,53.810000,25.50000,61.480000,62.88000,64.860000,24.919048,1.0,0.0
std,0.368567,0.137024,0.274048,0.629545,0.252336,0.392402,0.767716,0.718275,0.388088,0.556249,...,0.612268,22.317889,25.237502,14.57738,33.110354,24.60516,26.432826,25.499443,0.0,0.0
min,0.250000,0.500000,0.000000,0.000000,0.500000,0.250000,0.500000,0.500000,0.000000,0.250000,...,0.300000,10.000000,0.000000,1.00000,10.000000,20.00000,20.000000,1.800000,1.0,0.0
25%,0.500000,1.000000,1.000000,0.500000,0.500000,0.500000,1.000000,1.000000,1.000000,0.250000,...,0.525000,45.000000,50.000000,13.25000,40.000000,46.25000,45.000000,7.125000,1.0,0.0
50%,0.500000,1.000000,1.000000,1.000000,0.500000,0.500000,1.000000,1.000000,1.000000,0.500000,...,1.000000,60.000000,50.000000,25.50000,57.500000,65.00000,62.500000,12.750000,1.0,0.0
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,...,1.275000,74.500000,50.000000,37.75000,80.750000,80.00000,80.000000,31.500000,1.0,0.0
max,2.000000,1.000000,1.000000,2.000000,1.000000,2.000000,4.000000,4.000000,1.000000,2.000000,...,3.500000,140.000000,100.000000,50.00000,159.000000,120.00000,145.000000,100.000000,1.0,0.0

In [12]:
df1=df[['abilities','against_bug','against_electric']]
df1

,abilities,against_bug,against_electric
0,"['Overgrow', 'Chlorophyll']",1.00,0.5
1,"['Overgrow', 'Chlorophyll']",1.00,0.5
2,"['Overgrow', 'Chlorophyll']",1.00,0.5
3,"['Blaze', 'Solar Power']",0.50,1.0
4,"['Blaze', 'Solar Power']",0.50,1.0
5,"['Blaze', 'Solar Power']",0.25,2.0
6,"['Torrent', 'Rain Dish']",1.00,2.0
7,"['Torrent', 'Rain Dish']",1.00,2.0
8,"['Torrent', 'Rain Dish']",1.00,2.0
9,"['Shield Dust', 'Run Away']",1.00,1.0
10,['Shed Skin'],1.00,1.0
11,"['Compoundeyes', 'Tinted Lens']",0.50,2.0
12,"['Shield Dust', 'Run Away']",0.50,1.0
13,['Shed Skin'],0.50,1.0
14,"['Swarm', 'Sniper']",0.50,1.0
15,"['Keen Eye', 'Tangled Feet', 'Big Pecks']",0.50,2.0
16,"['Keen Eye', 'Tangled Feet', 'Big Pecks']",0.50,2.0
17,"['Keen Eye', 'Tangled Feet', 'Big Pecks']",0.50,2.0
18,"['Run Away', 'Guts', 'Hustle', 'Gluttony', 'Hu...",1.00,1.0
19,"['Run Away', 'Guts', 'Hustle', 'Gluttony', 'Hu...",1.00,1.0
20,"['Keen Eye', 'Sniper']",0.50,2.0
21,"['Keen Eye', 'Sniper']",0.50,2.0
22,"['Intimidate', 'Shed Skin', 'Unnerve']",0.50,1.0
23,"['Intimidate', 'Shed Skin', 'Unnerve']",0.50,1.0
24,"['Static', 'Lightningrod']",1.00,0.5
25,"['Static', 'Lightningrod', 'Surge Surfer']",1.00,0.5
26,"['Sand Veil', 'Sand Rush', 'Snow Cloak', 'Slus...",1.00,0.0
27,"['Sand Veil', 'Sand Rush', 'Snow Cloak', 'Slus...",1.00,0.0
28,"['Poison Point', 'Rivalry', 'Hustle']",0.50,1.0
29,"['Poison Point', 'Rivalry', 'Hustle']",0.50,1.0
30,"['Poison Point', 'Rivalry', 'Sheer Force']",0.50,0.0
31,"['Poison Point', 'Rivalry', 'Hustle']",0.50,1.0
32,"['Poison Point', 'Rivalry', 'Hustle']",0.50,1.0
33,"['Poison Point', 'Rivalry', 'Sheer Force']",0.50,0.0
34,"['Cute Charm', 'Magic Guard', 'Friend Guard']",0.50,1.0
35,"['Cute Charm', 'Magic Guard', 'Unaware']",0.50,1.0
36,"['Flash Fire', 'Drought', 'Snow Cloak', 'Snow ...",0.50,1.0
37,"['Flash Fire', 'Drought', 'Snow Cloak', 'Snow ...",0.50,1.0
38,"['Cute Charm', 'Competitive', 'Friend Guard']",0.50,1.0
39,"['Cute Charm', 'Competitive', 'Frisk']",0.50,1.0
40,"['Inner Focus', 'Infiltrator']",0.25,2.0
41,"['Inner Focus', 'Infiltrator']",0.25,2.0
42,"['Chlorophyll', 'Run Away']",1.00,0.5
43,"['Chlorophyll', 'Stench']",1.00,0.5
44,"['Chlorophyll', 'Effect Spore']",1.00,0.5
45,"['Effect Spore', 'Dry Skin', 'Damp']",2.00,0.5
46,"['Effect Spore', 'Dry Skin', 'Damp']",2.00,0.5
47,"['Compoundeyes', 'Tinted Lens', 'Run Away']",0.50,1.0
48,"['Shield Dust', 'Tinted Lens', 'Wonder Skin ']",0.50,1.0
49,"['Sand Veil', 'Arena Trap', 'Sand Force', 'San...",1.00,0.0

In [13]:
df2=pd.read_csv("pokemon.csv",nrows=50)
df2

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.00,1.0,1,0.5,0.5,0.50,2.0,2.0,1,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.00,1.0,1,0.5,0.5,0.50,2.0,2.0,1,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.00,1.0,1,0.5,0.5,0.50,2.0,2.0,1,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.50,1.0,1,1.0,0.5,1.00,0.5,1.0,1,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.50,1.0,1,1.0,0.5,1.00,0.5,1.0,1,...,88.1,5,80,65,80,fire,NaN,19.0,1,0
5,"['Blaze', 'Solar Power']",0.25,1.0,1,2.0,0.5,0.50,0.5,1.0,1,...,88.1,6,159,115,100,fire,flying,90.5,1,0
6,"['Torrent', 'Rain Dish']",1.00,1.0,1,2.0,1.0,1.00,0.5,1.0,1,...,88.1,7,50,64,43,water,NaN,9.0,1,0
7,"['Torrent', 'Rain Dish']",1.00,1.0,1,2.0,1.0,1.00,0.5,1.0,1,...,88.1,8,65,80,58,water,NaN,22.5,1,0
8,"['Torrent', 'Rain Dish']",1.00,1.0,1,2.0,1.0,1.00,0.5,1.0,1,...,88.1,9,135,115,78,water,NaN,85.5,1,0
9,"['Shield Dust', 'Run Away']",1.00,1.0,1,1.0,1.0,0.50,2.0,2.0,1,...,50.0,10,20,20,45,bug,NaN,2.9,1,0
10,['Shed Skin'],1.00,1.0,1,1.0,1.0,0.50,2.0,2.0,1,...,50.0,11,25,25,30,bug,NaN,9.9,1,0
11,"['Compoundeyes', 'Tinted Lens']",0.50,1.0,1,2.0,1.0,0.25,2.0,2.0,1,...,50.0,12,90,80,70,bug,flying,32.0,1,0
12,"['Shield Dust', 'Run Away']",0.50,1.0,1,1.0,0.5,0.25,2.0,2.0,1,...,50.0,13,20,20,50,bug,poison,3.2,1,0
13,['Shed Skin'],0.50,1.0,1,1.0,0.5,0.25,2.0,2.0,1,...,50.0,14,25,25,35,bug,poison,10.0,1,0
14,"['Swarm', 'Sniper']",0.50,1.0,1,1.0,0.5,0.25,2.0,2.0,1,...,50.0,15,15,80,145,bug,poison,29.5,1,0
15,"['Keen Eye', 'Tangled Feet', 'Big Pecks']",0.50,1.0,1,2.0,1.0,1.00,1.0,1.0,0,...,50.0,16,35,35,56,normal,flying,1.8,1,0
16,"['Keen Eye', 'Tangled Feet', 'Big Pecks']",0.50,1.0,1,2.0,1.0,1.00,1.0,1.0,0,...,50.0,17,50,50,71,normal,flying,30.0,1,0
17,"['Keen Eye', 'Tangled Feet', 'Big Pecks']",0.50,1.0,1,2.0,1.0,1.00,1.0,1.0,0,...,50.0,18,135,80,121,normal,flying,39.5,1,0
18,"['Run Away', 'Guts', 'Hustle', 'Gluttony', 'Hu...",1.00,1.0,1,1.0,1.0,2.00,1.0,1.0,0,...,50.0,19,25,35,72,normal,dark,NaN,1,0
19,"['Run Away', 'Guts', 'Hustle', 'Gluttony', 'Hu...",1.00,1.0,1,1.0,1.0,2.00,1.0,1.0,0,...,50.0,20,40,80,77,normal,dark,NaN,1,0
20,"['Keen Eye', 'Sniper']",0.50,1.0,1,2.0,1.0,1.00,1.0,1.0,0,...,50.0,21,31,31,70,normal,flying,2.0,1,0
21,"['Keen Eye', 'Sniper']",0.50,1.0,1,2.0,1.0,1.00,1.0,1.0,0,...,50.0,22,61,61,100,normal,flying,38.0,1,0
22,"['Intimidate', 'Shed Skin', 'Unnerve']",0.50,1.0,1,1.0,0.5,0.50,1.0,1.0,1,...,50.0,23,40,54,55,poison,NaN,6.9,1,0
23,"['Intimidate', 'Shed Skin', 'Unnerve']",0.50,1.0,1,1.0,0.5,0.50,1.0,1.0,1,...,50.0,24,65,79,80,poison,NaN,65.0,1,0
24,"['Static', 'Lightningrod']",1.00,1.0,1,0.5,1.0,1.00,1.0,0.5,1,...,50.0,25,50,50,90,electric,NaN,6.0,1,0
25,"['Static', 'Lightningrod', 'Surge Surfer']",1.00,1.0,1,0.5,1.0,1.00,1.0,0.5,1,...,50.0,26,95,85,110,electric,electric,NaN,1,0
26,"['Sand Veil', 'Sand Rush', 'Snow Cloak', 'Slus...",1.00,1.0,1,0.0,1.0,1.00,1.0,1.0,1,...,50.0,27,10,35,40,ground,ice,NaN,1,0
27,"['Sand Veil', 'Sand Rush', 'Snow Cloak', 'Slus...",1.00,1.0,1,0.0,1.0,1.00,1.0,1.0,1,...,50.0,28,25,65,65,ground,ice,NaN,1,0
28,"['Poison Point', 'Rivalry', 'Hustle']",0.50,1.0,1,1.0,0.5,0.50,1.0,1.0,1,...,0.0,29,40,40,41,poison,NaN,7.0,1,0
29,"['Poison Point', 'Rivalry', 'Hustle']",0.50,1.0,1,1.0,0.5,0.50,1.0,1.0,1,...,0.0,30,55,55,56,poison,NaN,20.0,1,0
30,"['Poison Point', 'Rivalry', 'Sheer Force']",0.50,1.0,1,0.0,0.5,0.50,1.0,1.0,1,...,0.0,31,75,85,76,poison,ground,60.0,1,0
31,"['Poison Point', 'Rivalry', 'Hustle']",0.50,1.0,1,1.0,0.5,0.50,1.0,1.0,1,...,100.0,32,40,40,50,poison,NaN,9.0,1,0
32,"['Poison Point', 'Rivalry', 'Hustle']",0.50,1.0,1,1.0,0.5,0.50,1.0,1.0,1,...,100.0,33,55,55,65,poison,NaN,19.5,1,0
33,"['Poison Point', 'Rivalry', 'Sheer Force']",0.50,1.0,1,0.0,0.5,0.50,1.0,1.0,1,...,100.0,34,85,75,85,poison,ground,62.0,1,0
34,"['Cute Charm', 'Magic Guard', 'Friend Guard']",0.50,0.5,0,1.0,1.0,0.50,1.0,1.0,1,...,24.6,35,60,65,35,fairy,NaN,7.5,1,0
35,"['Cute Charm', 'Magic Guard', 'Unaware']",0.50,0.5,0,1.0,1.0,0.50,1.0,1.0,1,...,24.6,36,95,90,60,fairy,NaN,40.0,1,0
36,"['Flash Fire', 'Drought', 'Snow Cloak', 'Snow ...",0.50,1.0,1,1.0,0.5,1.00,0.5,1.0,1,...,24.6,37,50,65,65,fire,ice,NaN,1,0
37,"['Flash Fire', 'Drought', 'Snow Cloak', 'Snow ...",0.50,1.0,1,1.0,0.5,1.00,0.5,1.0,1,...,24.6,38,81,100,109,fire,ice,NaN,1,0
38,"['Cute Charm', 'Competitive', 'Friend Guard']",0.50,0.5,0,1.0,1.0,1.00,1.0,1.0,0,...,24.6,39,45,25,20,normal,fairy,5.5,1,0
39,"['Cute Charm', 'Competitive', 'Frisk']",0.50,0.5,0,1.0,1.0,1.00,1.0,1.0,0,...,24.6,40,85,50,45,normal,fairy,12.0,1,0
40,"['Inner Focus', 'Infiltrator']",0.25,1.0,1,2.0,0.5,0.25,1.0,1.0,1,...,50.0,41,30,40,55,poison,flying,7.5,1,0
41,"['Inner Focus', 'Infiltrator']",0.25,1.0,1,2.0,0.5,0.25,1.0,1.0,1,...,50.0,42,65,75,90,poison,flying,55.0,1,0
42,"['Chlorophyll', 'Run Away']",1.00,1.0,1,0.5,0.5,0.50,2.0,2.0,1,...,50.0,43,75,65,30,grass,poison,5.4,1,0
43,"['Chlorophyll', 'Stench']",1.00,1.0,1,0.5,0.5,0.50,2.0,2.0,1,...,50.0,44,85,75,40,grass,poison,8.6,1,0
44,"['Chlorophyll', 'Effect Spore']",1.00,1.0,1,0.5,0.5,0.50,2.0,2.0,1,...,50.0,45,110,90,50,grass,poison,18.6,1,0
45,"['Effect Spore', 'Dry Skin', 'Damp']",2.00,1.0,1,0.5,1.0,0.50,4.0,4.0,1,...,50.0,46,45,55,25,bug,grass,5.4,1,0
46,"['Effect Spore', 'Dry Skin', 'Damp']",2.00,1.0,1,0.5,1.0,0.50,4.0,4.0,1,...,50.0,47,60,80,30,bug,grass,29.5,1,0
47,"['Compoundeyes', 'Tinted Lens', 'Run Away']",0.50,1.0,1,1.0,0.5,0.25,2.0,2.0,1,...,50.0,48,40,55,45,bug,poison,30.0,1,0
48,"['Shield Dust', 'Tinted Lens', 'Wonder Skin ']",0.50,1.0,1,1.0,0.5,0.25,2.0,2.0,1,...,50.0,49,90,75,90,bug,poison,12.5,1,0
49,"['Sand Veil', 'Arena Trap', 'Sand Force', 'San...",1.00,1.0,1,0.0,1.0,1.00,1.0,1.0,1,...,50.0,50,35,45,90,ground,ground,NaN,1,0

In [14]:
weight_df=df2[['weight_kg']]
weight_df

    weight_kg
0         6.9
1        13.0
2       100.0
3         8.5
4        19.0
5        90.5
6         9.0
7        22.5
8        85.5
9         2.9
10        9.9
11       32.0
12        3.2
13       10.0
14       29.5
15        1.8
16       30.0
17       39.5
18        NaN
19        NaN
20        2.0
21       38.0
22        6.9
23       65.0
24        6.0
25        NaN
26        NaN
27        NaN
28        7.0
29       20.0
30       60.0
31        9.0
32       19.5
33       62.0
34        7.5
35       40.0
36        NaN
37        NaN
38        5.5
39       12.0
40        7.5
41       55.0
42        5.4
43        8.6
44       18.6
45        5.4
46       29.5
47       30.0
48       12.5
49        NaN

In [16]:
weight_df.fillna(0)

    weight_kg
0         6.9
1        13.0
2       100.0
3         8.5
4        19.0
5        90.5
6         9.0
7        22.5
8        85.5
9         2.9
10        9.9
11       32.0
12        3.2
13       10.0
14       29.5
15        1.8
16       30.0
17       39.5
18        0.0
19        0.0
20        2.0
21       38.0
22        6.9
23       65.0
24        6.0
25        0.0
26        0.0
27        0.0
28        7.0
29       20.0
30       60.0
31        9.0
32       19.5
33       62.0
34        7.5
35       40.0
36        0.0
37        0.0
38        5.5
39       12.0
40        7.5
41       55.0
42        5.4
43        8.6
44       18.6
45        5.4
46       29.5
47       30.0
48       12.5
49        0.0

In [17]:
fill_na_df=weight_df.fillna(method='ffill')
fill_na_df

    weight_kg
0         6.9
1        13.0
2       100.0
3         8.5
4        19.0
5        90.5
6         9.0
7        22.5
8        85.5
9         2.9
10        9.9
11       32.0
12        3.2
13       10.0
14       29.5
15        1.8
16       30.0
17       39.5
18       39.5
19       39.5
20        2.0
21       38.0
22        6.9
23       65.0
24        6.0
25        6.0
26        6.0
27        6.0
28        7.0
29       20.0
30       60.0
31        9.0
32       19.5
33       62.0
34        7.5
35       40.0
36       40.0
37       40.0
38        5.5
39       12.0
40        7.5
41       55.0
42        5.4
43        8.6
44       18.6
45        5.4
46       29.5
47       30.0
48       12.5
49       12.5

In [21]:
df3=df2.fillna({
    'type1' :'None',
    'type2' :'None',
    'weight_kg' :0,
})
df3

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.00,1.0,1,0.5,0.5,0.50,2.0,2.0,1,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.00,1.0,1,0.5,0.5,0.50,2.0,2.0,1,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.00,1.0,1,0.5,0.5,0.50,2.0,2.0,1,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.50,1.0,1,1.0,0.5,1.00,0.5,1.0,1,...,88.1,4,60,50,65,fire,None,8.5,1,0
4,"['Blaze', 'Solar Power']",0.50,1.0,1,1.0,0.5,1.00,0.5,1.0,1,...,88.1,5,80,65,80,fire,None,19.0,1,0
5,"['Blaze', 'Solar Power']",0.25,1.0,1,2.0,0.5,0.50,0.5,1.0,1,...,88.1,6,159,115,100,fire,flying,90.5,1,0
6,"['Torrent', 'Rain Dish']",1.00,1.0,1,2.0,1.0,1.00,0.5,1.0,1,...,88.1,7,50,64,43,water,None,9.0,1,0
7,"['Torrent', 'Rain Dish']",1.00,1.0,1,2.0,1.0,1.00,0.5,1.0,1,...,88.1,8,65,80,58,water,None,22.5,1,0
8,"['Torrent', 'Rain Dish']",1.00,1.0,1,2.0,1.0,1.00,0.5,1.0,1,...,88.1,9,135,115,78,water,None,85.5,1,0
9,"['Shield Dust', 'Run Away']",1.00,1.0,1,1.0,1.0,0.50,2.0,2.0,1,...,50.0,10,20,20,45,bug,None,2.9,1,0
10,['Shed Skin'],1.00,1.0,1,1.0,1.0,0.50,2.0,2.0,1,...,50.0,11,25,25,30,bug,None,9.9,1,0
11,"['Compoundeyes', 'Tinted Lens']",0.50,1.0,1,2.0,1.0,0.25,2.0,2.0,1,...,50.0,12,90,80,70,bug,flying,32.0,1,0
12,"['Shield Dust', 'Run Away']",0.50,1.0,1,1.0,0.5,0.25,2.0,2.0,1,...,50.0,13,20,20,50,bug,poison,3.2,1,0
13,['Shed Skin'],0.50,1.0,1,1.0,0.5,0.25,2.0,2.0,1,...,50.0,14,25,25,35,bug,poison,10.0,1,0
14,"['Swarm', 'Sniper']",0.50,1.0,1,1.0,0.5,0.25,2.0,2.0,1,...,50.0,15,15,80,145,bug,poison,29.5,1,0
15,"['Keen Eye', 'Tangled Feet', 'Big Pecks']",0.50,1.0,1,2.0,1.0,1.00,1.0,1.0,0,...,50.0,16,35,35,56,normal,flying,1.8,1,0
16,"['Keen Eye', 'Tangled Feet', 'Big Pecks']",0.50,1.0,1,2.0,1.0,1.00,1.0,1.0,0,...,50.0,17,50,50,71,normal,flying,30.0,1,0
17,"['Keen Eye', 'Tangled Feet', 'Big Pecks']",0.50,1.0,1,2.0,1.0,1.00,1.0,1.0,0,...,50.0,18,135,80,121,normal,flying,39.5,1,0
18,"['Run Away', 'Guts', 'Hustle', 'Gluttony', 'Hu...",1.00,1.0,1,1.0,1.0,2.00,1.0,1.0,0,...,50.0,19,25,35,72,normal,dark,0.0,1,0
19,"['Run Away', 'Guts', 'Hustle', 'Gluttony', 'Hu...",1.00,1.0,1,1.0,1.0,2.00,1.0,1.0,0,...,50.0,20,40,80,77,normal,dark,0.0,1,0
20,"['Keen Eye', 'Sniper']",0.50,1.0,1,2.0,1.0,1.00,1.0,1.0,0,...,50.0,21,31,31,70,normal,flying,2.0,1,0
21,"['Keen Eye', 'Sniper']",0.50,1.0,1,2.0,1.0,1.00,1.0,1.0,0,...,50.0,22,61,61,100,normal,flying,38.0,1,0
22,"['Intimidate', 'Shed Skin', 'Unnerve']",0.50,1.0,1,1.0,0.5,0.50,1.0,1.0,1,...,50.0,23,40,54,55,poison,None,6.9,1,0
23,"['Intimidate', 'Shed Skin', 'Unnerve']",0.50,1.0,1,1.0,0.5,0.50,1.0,1.0,1,...,50.0,24,65,79,80,poison,None,65.0,1,0
24,"['Static', 'Lightningrod']",1.00,1.0,1,0.5,1.0,1.00,1.0,0.5,1,...,50.0,25,50,50,90,electric,None,6.0,1,0
25,"['Static', 'Lightningrod', 'Surge Surfer']",1.00,1.0,1,0.5,1.0,1.00,1.0,0.5,1,...,50.0,26,95,85,110,electric,electric,0.0,1,0
26,"['Sand Veil', 'Sand Rush', 'Snow Cloak', 'Slus...",1.00,1.0,1,0.0,1.0,1.00,1.0,1.0,1,...,50.0,27,10,35,40,ground,ice,0.0,1,0
27,"['Sand Veil', 'Sand Rush', 'Snow Cloak', 'Slus...",1.00,1.0,1,0.0,1.0,1.00,1.0,1.0,1,...,50.0,28,25,65,65,ground,ice,0.0,1,0
28,"['Poison Point', 'Rivalry', 'Hustle']",0.50,1.0,1,1.0,0.5,0.50,1.0,1.0,1,...,0.0,29,40,40,41,poison,None,7.0,1,0
29,"['Poison Point', 'Rivalry', 'Hustle']",0.50,1.0,1,1.0,0.5,0.50,1.0,1.0,1,...,0.0,30,55,55,56,poison,None,20.0,1,0
30,"['Poison Point', 'Rivalry', 'Sheer Force']",0.50,1.0,1,0.0,0.5,0.50,1.0,1.0,1,...,0.0,31,75,85,76,poison,ground,60.0,1,0
31,"['Poison Point', 'Rivalry', 'Hustle']",0.50,1.0,1,1.0,0.5,0.50,1.0,1.0,1,...,100.0,32,40,40,50,poison,None,9.0,1,0
32,"['Poison Point', 'Rivalry', 'Hustle']",0.50,1.0,1,1.0,0.5,0.50,1.0,1.0,1,...,100.0,33,55,55,65,poison,None,19.5,1,0
33,"['Poison Point', 'Rivalry', 'Sheer Force']",0.50,1.0,1,0.0,0.5,0.50,1.0,1.0,1,...,100.0,34,85,75,85,poison,ground,62.0,1,0
34,"['Cute Charm', 'Magic Guard', 'Friend Guard']",0.50,0.5,0,1.0,1.0,0.50,1.0,1.0,1,...,24.6,35,60,65,35,fairy,None,7.5,1,0
35,"['Cute Charm', 'Magic Guard', 'Unaware']",0.50,0.5,0,1.0,1.0,0.50,1.0,1.0,1,...,24.6,36,95,90,60,fairy,None,40.0,1,0
36,"['Flash Fire', 'Drought', 'Snow Cloak', 'Snow ...",0.50,1.0,1,1.0,0.5,1.00,0.5,1.0,1,...,24.6,37,50,65,65,fire,ice,0.0,1,0
37,"['Flash Fire', 'Drought', 'Snow Cloak', 'Snow ...",0.50,1.0,1,1.0,0.5,1.00,0.5,1.0,1,...,24.6,38,81,100,109,fire,ice,0.0,1,0
38,"['Cute Charm', 'Competitive', 'Friend Guard']",0.50,0.5,0,1.0,1.0,1.00,1.0,1.0,0,...,24.6,39,45,25,20,normal,fairy,5.5,1,0
39,"['Cute Charm', 'Competitive', 'Frisk']",0.50,0.5,0,1.0,1.0,1.00,1.0,1.0,0,...,24.6,40,85,50,45,normal,fairy,12.0,1,0
40,"['Inner Focus', 'Infiltrator']",0.25,1.0,1,2.0,0.5,0.25,1.0,1.0,1,...,50.0,41,30,40,55,poison,flying,7.5,1,0
41,"['Inner Focus', 'Infiltrator']",0.25,1.0,1,2.0,0.5,0.25,1.0,1.0,1,...,50.0,42,65,75,90,poison,flying,55.0,1,0
42,"['Chlorophyll', 'Run Away']",1.00,1.0,1,0.5,0.5,0.50,2.0,2.0,1,...,50.0,43,75,65,30,grass,poison,5.4,1,0
43,"['Chlorophyll', 'Stench']",1.00,1.0,1,0.5,0.5,0.50,2.0,2.0,1,...,50.0,44,85,75,40,grass,poison,8.6,1,0
44,"['Chlorophyll', 'Effect Spore']",1.00,1.0,1,0.5,0.5,0.50,2.0,2.0,1,...,50.0,45,110,90,50,grass,poison,18.6,1,0
45,"['Effect Spore', 'Dry Skin', 'Damp']",2.00,1.0,1,0.5,1.0,0.50,4.0,4.0,1,...,50.0,46,45,55,25,bug,grass,5.4,1,0
46,"['Effect Spore', 'Dry Skin', 'Damp']",2.00,1.0,1,0.5,1.0,0.50,4.0,4.0,1,...,50.0,47,60,80,30,bug,grass,29.5,1,0
47,"['Compoundeyes', 'Tinted Lens', 'Run Away']",0.50,1.0,1,1.0,0.5,0.25,2.0,2.0,1,...,50.0,48,40,55,45,bug,poison,30.0,1,0
48,"['Shield Dust', 'Tinted Lens', 'Wonder Skin ']",0.50,1.0,1,1.0,0.5,0.25,2.0,2.0,1,...,50.0,49,90,75,90,bug,poison,12.5,1,0
49,"['Sand Veil', 'Arena Trap', 'Sand Force', 'San...",1.00,1.0,1,0.0,1.0,1.00,1.0,1.0,1,...,50.0,50,35,45,90,ground,ground,0.0,1,0

# Aggregation and Grouping

sum() , mean() , median() , min() , and max()

In [4]:
import pandas as pd
import numpy as np

In [6]:
rng = np.random.RandomState(42)
df = pd.DataFrame({'A': rng.rand(5),
'B': rng.rand(5)})
df

          A         B
0  0.374540  0.155995
1  0.950714  0.058084
2  0.731994  0.866176
3  0.598658  0.601115
4  0.156019  0.708073

In [8]:
df.mean(axis='columns')

0    0.265267
1    0.504399
2    0.799085
3    0.599887
4    0.432046
dtype: float64

In [10]:
df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
'data': range(6)}, columns=['key', 'data'])
df1

  key  data
0   A     0
1   B     1
2   C     2
3   A     3
4   B     4
5   C     5

In [13]:
df1.groupby('key').sum()

     data
key
A       3
B       5
C       7

In [16]:
df1.groupby('key').aggregate(['min', np.median, max])

    data
     min median max
key
A      0    1.5   3
B      1    2.5   4
C      2    3.5   5

In [18]:
rng = np.random.RandomState(0)
df2 = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
    'data1': range(6),
    'data2': rng.randint(0, 10, 6)},
    columns = ['key', 'data1', 'data2'])
df2

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [20]:
df2.groupby('key').aggregate(['min', np.median, max])

    data1            data2
      min median max   min median max
key
A       0    1.5   3     3    4.0   5
B       1    2.5   4     0    3.5   7
C       2    3.5   5     3    6.0   9

In [22]:
df2.groupby('key').aggregate({'data1': 'min','data2': 'max'})

     data1  data2
key
A        0      5
B        1      7
C        2      9

In [25]:
df3=pd.DataFrame({
    'survived':[0,1,1,1,0],
    'sex':['male','female','female','female','male'],
    'age':[22,33,22,44,24],
    'fare':[7.2500,71.2833,7.9250,53.1000,8.0500],
    'class':['Third','First','Third','First','Third'],
})
df3

   survived     sex  age     fare  class
0         0    male   22   7.2500  Third
1         1  female   33  71.2833  First
2         1  female   22   7.9250  Third
3         1  female   44  53.1000  First
4         0    male   24   8.0500  Third

In [27]:
df3.groupby('sex')[['survived']].mean()

        survived
sex
female         1
male           0

In [30]:
df3.groupby(['sex', 'class'])['survived'].aggregate('mean').unstack()

class   First  Third
sex
female    1.0    1.0
male      NaN    0.0

In [31]:
df3.pivot_table('survived', index='sex', columns='class')

class   First  Third
sex
female    1.0    1.0
male      NaN    0.0